[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rcolors"]
	path = rcolors
	url = https://github.com/rpkgs/rcolors
[submodule "rtrend"]
	path = rtrend
	url = https://github.com/rpkgs/rtrend
