[submodule ".registry"]
	path = .registry
	url = https://github.com/rpkgs/rpkgs.r-universe.dev
	branch = HEAD
[submodule "Ipaper"]
	path = Ipaper
	url = https://github.com/rpkgs/Ipaper
[submodule "hydroTools"]
	path = hydroTools
	url = https://github.com/CUG-hydro/hydroTools
[submodule "rtrend"]
	path = rtrend
	url = https://github.com/rpkgs/rtrend
